@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>Role List</h1>
<br />



<table class="table table-bordered table-striped table-hover table-dark">

    <tr>
        <th>Id</th>
        <th>Role Name</th>
        <th>Role Edit</th>
        <th>Role Delete</th>
        
    </tr>
    @if(Model.Count()==0)
    {
        <div class="alert alert-warning">

            <h3>Role Yok</h3>
        </div>
    }
    @foreach (var item in Model)
    {

        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
           
            <td><a href="/Admin/RoleEdit/@item.Id" class="btn btn-warning">Update</a></td>
            <td><a href="/Admin/RoleDelete/@item.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }



</table>

<br />
<a href="/admin/CreateRole" class="btn btn-outline-primary">Create Role</a>
